<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/client.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
</head>
<body>

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" aria-placeholder=""><img src="../images/logo_white.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">A props</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Explorer
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Bricoleurs</a>
                          <a class="dropdown-item" href="allposts.html">Postes</a>
                          
                        </div>
                    </li>
                </ul>
                <span class="navbar-text text-white">
                    <a href="" id="myposts">Mes postes </a>
                </span>
                <span class="navbar-text text-white">
                    <a href="" id="request"> Demandes</a>
                </span>
                <span class="navbar-text text-white">
                    <a href="login.html" id="logout" onclick="deconnect()">Deconexion</a>
                </span>
            </div>
        </div>
    </nav>

    <div class="container mb-5" >

        
        <!-- <div class="container myposts"> 
            <div class="row mb-5 d-flex justify-content-center  flex-wrap ">
    
    
            </div>
            
    
        </div>
        <div class="container requests"> 
            <div class="row mb-5 d-flex justify-content-center  flex-wrap ">
    
    
            </div>
            
    
        </div>
 -->
    </div>

    



    <footer class="bg-light text-center text-lg-start mt-5  w-100">
        <!-- Copyright -->
        <div class="row text-center py-3" style="background-color: #0D043D">
          <div class="col-12 col-md-6 py-3">
              <form action="" class="d-flex col-8 mx-auto">
                <input type="text" class=" form-control  rounded-0 p-2 border-0">
                <input type="submit" placeholder="Entrer votre email" class=" btn btn-info rounded-0 p-2 border-0 px-5 text-white" style="background-color: #90cbfb;">
              </form>
          </div>
          <div class="col-12 col-md-6 py-3">
            <section class="">
                <!-- Facebook -->
                <a class="btn bg-ciel  m-1 rounded-circle" href="#!" role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>
          
                <!-- Twitter -->
                <a class="btn bg-ciel m-1 rounded-circle" href="#!" role="button"
              
				><i class="fab fa-twitter"></i
                ></a>
          
                <!-- Google -->
                <a class="btn bg-ciel m-1 rounded-circle" href="#!" role="button"
                  ><i class="fab fa-google"></i
                ></a>
          
                <!-- Instagram -->
                <a class="btn bg-ciel m-1 rounded-circle" href="#!" role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
          
                <!-- Linkedin -->
                <a class="btn bg-ciel m-1 rounded-circle" href="#!" role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
          
                <!-- Github -->
                <a class="btn bg-ciel m-1 rounded-circle" href="#!" role="button"
                  ><i class="fab fa-github"></i
                ></a>
              </section>
        </div>
        </div>
        
        <!-- Copyright -->
      </footer>

      <!-- <script>
         /*  document.getElementById('logout').addEventListener('click', function(){
              sessionStorage.clear();
              document.location.href = "../view/login.html";
          }) */
          if(document.getElementById('logout').click==true){
            sessionStorage.clear();
            document.location.href = "../view/login.html";
          }
          
      </script> -->

      








    <script src="js/clientposts.js"></script>
    <script src="https://kit.fontawesome.com/756f1fbb0c.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
	</script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
</body>
</html>