<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
           

            <link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css"/>

            
            <link href="styles/style.css" rel="stylesheet" type="text/css"/>
            <link href="styles/footer.css" rel="stylesheet" type="text/css"/>

		<!-- caoussel -->
		<link rel="stylesheet" href="asset/dist/theme.css">
		<link rel="stylesheet" href="asset/dist/caoussel.min.css">
			
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


      <title>Acerola</title>
  </head>
<body >
	
<body class="mx-auto" style="font-family: poppins;">
  <div class=" position-sticky z-index-sticky top-0">
    <div class="row p-0 m-0">
      <div class="col-12 p-0 m-0">
        

	<div style="position: relative;">
		<div class="header-image">
			<img src="img/background.jpg" height="100%" width="100%" style="object-fit: cover;" alt="">
			<div class="overlay"></div>
		</div>

			
			<!-- Navbar Dark -->
		<div>
		
			  <nav class="navbar navbar-expand-lg  navbar-dark   z-index-3 w-100" style="position: fixed;top: 0;z-index: 9999;">
				<div class="container">
				  <a href="home.html" class="mt-2">
					<img src="img/logo_white.png" width="90px" alt="">
				  </a>
				  
				  <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
					data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon mt-2">
					  <span class="navbar-toggler-bar bar1"></span>
					  <span class="navbar-toggler-bar bar2"></span>
					  <span class="navbar-toggler-bar bar3"></span>
					</span>
				  </button>
				  <div class="navbar  collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 " id="navigation" >
					<ul class="navbar-nav navbar-nav-hover  ">
					  <li class="nav-item mx-2 ">
						<a href="" class="nav-link link-navbar Active-link-navbar">
							Acceil
						</a>
					  </li>
	
					  <li class="nav-item mx-2">
						<a href="" class="nav-link link-navbar">
							Offers
						</a>
					  </li>
	
					  <li class="nav-item mx-2">
						<a href="" class="nav-link link-navbar">
							Demmandes
						</a>
					  </li>
	
					  <li class="nav-item mx-2">
						<a href="" class="nav-link link-navbar">
							A propos
						</a>
					  </li>
					  
					</ul>
	
					<ul class="navbar-nav ">
					  
					  <li class="nav-item pt-1">
						<a href=""
						  class="btn  text-white me-1 signup">Se connecter</a>
					  </li>
	
					  <li class="nav-item pt-1">
						<a href="signup.html"
						  class="btn  rounded-0  mb-0 me-1 login">S'inscrire</a>
					  </li>
					</ul>
				  </div>
				</div>
			  </nav>

			  
			<!-- End Navbar -->

			<header class="position-absolute text-white container header-content">
				<div class="col-12 col-md-9 col-lg-6 my-5">
					<h1 class="mb-3">Trouver Les Meilleurs Bricoleurs 
						Pour Votre Petits  Travaux, 
						Online</h1>
					<h4 class="mb-5">Obtenez le meilleur service chez <span class="text-warning">BRICOFAST.com</span></h4>

					<div class="d-flex">
						<a href="" class="btn  rounded-0  mb-0 me-1 btn-offre">Poster un offre</a>
						<a href="" class="btn  rounded-0  mb-0 me-1 btn-demmonde">Poster une demmande</a>
					</div>
				</div>
			</header>
		</div>

	</div>


	<section class=" " style="background-color: #F9FCFF;color: #100064;">
		<div class="container py-5">
			<div class="text-center my-5">
				<h3>Vous êtes à la recherche d'un bricoleur ?</h3>
				<h2>CE QUE NOUS OFFRONS</h3>
			</div>
			<div class=" owl-carousel owl-theme">

				<div class="item m-3">
					<div class=" text-center py-4 px-3" style="border-top: 5px solid #FFD432 !important;box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.151);">
						<h4 class="mb-3">menuisier</h4>
						<div class="mx-auto" style="height: 85px;width: 85px;" >
							<img src="img/categorie.png" height="100%" class="mb-3" style="border: 4px solid #100064;border-radius: 50px;padding: 20px 30px; " alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						<a href="" class="btn rounded-0 mb-0 me-1 login">Chercher</a>
					</div>
				</div>
				

			</div>
		</div>
	</section>

	

	<section class=" " style="background-color: #fff;color: #100064;">
		<div class="container py-5 text-center">
			<div class="text-center my-5">
				<h3>Comment  pouvez vous trouver votre bricoleur ?</h3>
				<h2>Pour tous vos petits travaux, il y a Bricofast</h3>
			</div>
			<div class="row">
				<div class="col">
					<div class=" text-center py-4 px-3 ">
						
						<div class="mx-auto" style="width: 150px;height: 150px;">
							<img src="img/undraw_confidential_letter_w6ux.svg"  class="mb-3" style="width: 100%;" alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						
					</div>
				</div>
				<div class="col">
					<div class=" text-center py-4 px-3 ">
						
						<div class="mx-auto" style="width: 150px;height: 150px;">
							<img src="img/undraw_Agreement_re_d4dv.svg"  class="mb-3" style="width: 100%;" alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						
					</div>
				</div>
				<div class="col">
					<div class=" text-center py-4 px-3 ">
						
						<div class="mx-auto" style="width: 150px;height: 150px;">
							<img src="img/undraw_Posts_re_ormv.svg"  class="mb-3" style="width: 100%;" alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						
					</div>
				</div>
				<div class="col">
					<div class=" text-center py-4 px-3 ">
						
						<div class="mx-auto" style="width: 150px;height: 150px;">
							<img src="img/undraw_Swipe_profiles_re_tvqm.svg"  class="mb-3" style="width: 100%;" alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						
					</div>
				</div>
				<div class="col">
					<div class=" text-center py-4 px-3 ">
						
						<div class="mx-auto" style="width: 150px;height: 150px;">
							<img src="img/undraw_authentication_fsn5.svg"  class="mb-3" style="width: 100%;" alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						
					</div>
				</div>
				
			</div>
			<a href="" class="btn rounded-0 mb-0 mt-4 me-1  px-5 link-blue">Chercher</a>
		</div>
	</section>

	<section class=" " style="background-color: #F9FCFF;color: #100064;">
		<div class="container py-5 text-center">
			<div class="text-center my-5">
				<h3>Comment pouvez vous devenir un bricoleur cher bricofast ?</h3>
				<h2>REJOIGNER LE RESEAU BRICOFAST</h3>
			</div>
			<div class="row">
				<div class="col">
					<div class=" text-center py-4 px-3 ">
						
						<div class="mx-auto" style="width: 150px;height: 150px;">
							<img src="img/undraw_Post_re_mtr4.svg"  class="mb-3" style="width: 100%;" alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						
					</div>
				</div>
				<div class="col">
					<div class=" text-center py-4 px-3 ">
						
						<div class="mx-auto" style="width: 150px;height: 150px;">
							<img src="img/undraw_online_ad_re_ol62.svg"  class="mb-3" style="width: 100%;" alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						
					</div>
				</div>
				<div class="col">
					<div class=" text-center py-4 px-3 ">
						
						<div class="mx-auto" style="width: 150px;height: 150px;">
							<img src="img/undraw_profile_details_f8b7.svg"  class="mb-3" style="width: 100%;" alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						
					</div>
				</div>
				<div class="col">
					<div class=" text-center py-4 px-3 ">
						
						<div class="mx-auto" style="width: 150px;height: 150px;">
							<img src="img/undraw_job_offers_kw5d.svg"  class="mb-3" style="width: 100%;" alt="">
						</div>
						<p class="mb-3">inscrivez vous sur Bricofast, et faites votre authentification pour compléter votre accès</p>
						
					</div>
				</div>
				
			</div>
			<a href="" class="btn rounded-0 mb-0 mt-4 me-1 px-5 login">Chercher</a>
		</div>
	</section>


	<section class=" " style="background-color: #F9FCFF;color: #100064;">
		<div class="container py-5 text-center">
			<div class="text-center my-5">
				<h2>Découvrir le travail de nôtres bricoleurs  </h3>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-4">
					<div class=" text-center py-4 px-3 ">
						<div class="mx-auto border p-1 pb-5" style="max-width: 470px;height: 280px;overflow: hidden;">
							<img src="img/top_1044.jpg"  class="mb-3" style="width: 100%;height: 100%;object-fit: cover;" alt="">
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<div class=" text-center py-4 px-3 ">
						<div class="mx-auto border p-1 pb-5" style="max-width: 470px;height: 280px;overflow: hidden;">
							<img src="img/CDE13_Ixina_Luminia_Vue1_HD_RGB.jpg"  class="mb-3" style="width: 100%;height: 100%;object-fit: cover;" alt="">
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<div class=" text-center py-4 px-3 ">
						<div class="mx-auto border p-1 pb-5" style="max-width: 470px;height: 280px;overflow: hidden;">
							<img src="img/ZHKX7OY6OKOJ2PKR5ZFY7HYPD4.jpg"  class="mb-3" style="width: 100%;height: 100%;object-fit: cover;" alt="">
						</div>
					</div>
				</div>
				
			</div>
			<a href="" class="btn rounded-0 mb-0 mt-4 me-1 px-5 btn-offre">Découvrir plus</a>
		</div>
	</section>

	<section class="position-relative " style="color: #fff;background-image: url('img/neonbrand--v9Z6-uJxk4-unsplash.jpg');background-position: center;background-size: cover;">
		<div class="container ">
			
			<div class="row py-5" style="position: relative;z-index: 1111;">
				
				<div class="col-12 col-md-6">
					<div class="my-5">
						<h2>Découvrir le travail de nôtres bricoleurs  </h2>
					</div>
					<div class="px-4">
						<div class="">
							<p>+ <span>BRICOFAST VOUS ARRANGE LE COUP SANS COÛT SUPPLÉMENTAIRE</span></p>
							<p>+ <span>BRICOFAST VOUS AUTORISE À ÊTRE LIBRE COMME L’AIR</span></p>
							<p>+ <span>BRICOCO VALORISE CEUX QUI ONT DE L’OR ENTRE LES MAINS (ET DES MAINS QUI VALENT DE L’OR)</span></p>
						</div>
						<div class="d-flex">
							<a href="" class="btn  rounded-0   me-1 btn-offre">Poster un offre</a>
							<a href="" class="btn  rounded-0   btn-demmonde">Poster une demmande</a>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6">
					<div class="my-5">
						<h2>Contacter Nous</h2>
					</div>
					<div class="px-4 text-center">
						<div class="">
							<input type="text" class="my-5 p-3 w-75" placeholder="Entrer votre email ">
						</div>
						<div class="d-flex justify-content-center">
							<a href="" class="btn  rounded-0 mt-4 px-4 btn-offre">Contacter</a>
						</div>
					</div>
				</div>
				
			</div>

			<div class="overlay-blue"></div>

		</div>
	</section>




	  <!-- Site footer -->
	  <footer class="site-footer">
		<div>
			<img src="img/logo_white.png" width="100px" alt="">
		</div>
		<div class="container">
		  <div class="row">
			  
			<div class="col-sm-12 col-md-6">
			  <h6>About</h6>
			  <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS</p>
			</div>
  
			<div class="col-xs-6 col-md-3">
			  <h6>Categories</h6>
			  <ul class="footer-links">
				<li><a href="">C</a></li>
				<li><a href="">UI Design</a></li>
				<li><a href="">PHP</a></li>
				<li><a href="">Java</a></li>
				<li><a href="">Android</a></li>
			  </ul>
			</div>
  
			<div class="col-xs-6 col-md-3">
			  <h6>Quick Links</h6>
			  <ul class="footer-links">
				<li><a href="">About Us</a></li>
				<li><a href="">Contact Us</a></li>
				<li><a href="">Contribute</a></li>
				<li><a href="">Privacy Policy</a></li>
				<li><a href="">Sitemap</a></li>
			  </ul>
			</div>
		  </div>
		  <hr  style="color: #FFD432;opacity: 1 !important;">
		</div>
		<div class="container">
		  <div class="row">
			<div class="col-md-8 col-sm-6 col-xs-12">
			  <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by Imane Rkhis.
			  </p>
			</div>
  
			<div class="col-md-4 col-sm-6 col-xs-12">
			  <ul class="social-icons">
				<li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
				<li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
				<li><a class="dribbble" href="#"><i class="bi bi-youtube"></i></i></a></li>
				<li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></i></a></li>   
			  </ul>
			</div>
		  </div>
		</div>
  </footer>

          
		

      </div>
    </div>
</div>

<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-2.1.3.min.js"></script>

<script>

$(document).ready(function(){       
            var scroll_pos = 0;
            $(document).scroll(function() { 
                scroll_pos = $(this).scrollTop();
                if(scroll_pos > 300) {
                    $(".navbar").css('background-color', '#0D043D');
                    $(".navbar").css('margin', '0');
                    $(".navbar").css('padding', '0');
                    $(".navbar").css('transition', '0.5s');
                } else {
                    $(".navbar").css('background-color', 'transparent');
                    $(".navbar").css('margin', '1rem 0');
                    $(".navbar").css('padding', '0.25rem 0');

                    $(".navbar").css('transition', '0.5s');


                }
            });
        });
</script>

<script>

	  $(document).ready(function () {
		  var owl = $('.owl-carousel');
		  owl.owlCarousel({
			  responsive: {
				  0: {
					  items: 1,
					  nav: true,
					  loop: true
				  },
				  500: {
					  items: 2,
					  nav: true,
					  loop: true
					  
				  },
				  800: {
					  items: 3,
					  nav: true,
					  loop: true
					  
				  },
				  1000: {
					  items: 4,
					  nav: true,
					  loop: true
				  },
				  1200: {
					  items: 5,
					  nav: true,
					  loop: true
				  },
			  },

			  margin:0,
			  autoplay: true,
			  autoplayTimeout: 3000,
			  autoplayHoverPause: true
		  });
	  })

  </script>

<script src="asset/dist/owl.carousel.js"></script>
	
    
</body>
</html>	