
@import '../styles/_variables.scss';

body{
    font-family:$font;
    background-color: $backgroundcolor !important;
    

    .navbar{

        background-color: $maincolor !important;
        img{
            width: 110px;
            height: 70px;
        }
        a{
            color: $white;
        }
        .container-fluid{
            margin-left: 10%;
        }
    }
    .container{
        color: $maincolor;
        margin-top: 5%;
        margin-right: 20%;
        .profileCard{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-left: 30%;
            background-color: $yellow;
            color: $white;
            .menu{
                text-align: right;
                margin-bottom: 3%;
                padding: 10px;
                width: 100%;
                .dropdown-toggle::after {
                    display: none !important;
                }
                a{

                    
                    font-size: 20px;
                    font-weight: 500;
                    i{
                        color: $white;

                    }
                   
                }
                ul{
                    color: $maincolor;
                    i{
                        color: $maincolor;
                    }
                }
            }
            ul{
                
                list-style-type: none;
                li{
                    margin-bottom: 15px;
                    span{
                        font-size: 17px;
                        font-weight: 600;
                        margin-right: 5px;
                        i{
                            font-size: 23px;
                        }
                    }
                }
            }
            

        }
        .content{
            .card{
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                margin-left: 0%;
                margin-bottom: 5%;
                background-color: $white;
                //border-color: $yellow;
                color: $maincolor;
                .card-header{
                    border-color: $yellow;
                    font-size: 18px;
                    font-weight: 600;
                    background-color: $white;
                }
                .card-body{
                    a{
                        float: right;
                    }

                }

            }
        }

        
    }

    .bg-ciel{
        background-color:  #90cbfbb9 !important;
        color: #FFD432 !important;
    }
}